@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* comment css */
* {
  margin: 0;
  padding: 0;
}

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* banner section */
.banner {
  height: 652px;
  background-image: url(../assets/Hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  width: 998px;
  text-align: center;
}

.banner-title {
  color: #0d1321;
  font-size: 48px;
  font-weight: 800;
  line-height: 60px;
  margin-top: 32px;
}

.banner-description {
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 24px;
}

.btn-contact {
  font-size: 20px;
  font-weight: 400;
  padding: 21px 24px;
  background-color: #0d1321;
  border: none;
  border-radius: 10px;
  margin: 24px 0px;
}
.btn-contact a {
  text-decoration: none;
  color: #ffffff;
}

/* web-dev-section */

.web-dev-section {
  width: 950px;
  margin: 85px auto;
  border-radius: 16px;
  background: #0d132105;
  padding: 80px 100px;
}

.web-title,
.inspiration-title,
.current-target-title,
.support-title {
  color: #0d1321;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 24px;
  text-align: center;
}

.web-description,
.inspiration-description,
.current-target-description,
.support-description {
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 48px;
  text-align: center;
}

.articles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  padding: 48px;
  gap: 40px;
  margin-bottom: 20px;
}

.article-title {
  color: #0d1321b3;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.article-description {
  color: #0d1321b3;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 16px 0px 32px;
}

.article-btn,
.submit-btn {
  font-size: 20px;
  font-weight: 600;
  padding: 12px 20px;
  border: 1px solid #0d1321b3;
  background-color: transparent;
  cursor: pointer;
}

.article-2 {
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

/* my-inspiration-section */

.my-inspiration-section {
  width: 1140px;
  margin: 85px auto;
}

.inspiration-video {
  padding: 32px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inspiration-video iframe {
  border-radius: 16px;
}

/* my-current-target-section */

.my-current-target-section {
  width: 1140px;
  margin: 50px auto;
}

.current-target-articles {
  display: flex;
  gap: 24px;
}

.target-article {
  border-radius: 16px;
  padding: 40px;
}
.article-html {
  background: #ff4c1e0d;
}

.article-css {
  background: #004ce80d;
}

.article-js {
  background: #ffdf000d;
}

.target-article-title {
  color: #0d1321;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  margin: 24px 0px 12px;
  text-align: left;
}

.target-article-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  text-align: left;
}

.target-article-btn {
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 24px;
  text-align: left;
}

/* support-section */

.support-section {
  width: 1140px;
  height: 313px;
  margin: 0px auto 80px;
  border-radius: 16px;
  background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(../assets/handshake.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.support-title{
    color: #ffffff;
}

.support-description{
    color: #ffffff;
}

.support-input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.input-section{
    padding: 20px;
    text-align: left;
    font-size: 16px;
    color: #000000;
    width: 548px;
    border-radius: 10px;
    border: none;
}

.submit-btn{
    background-color: #ffffff;
    padding: 16px;
    border-radius: 10px;
}

/* footer-section */
footer{
    background-color: #0d132108;
    padding: 32px;
}

.footer_section{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media{
    display: flex;
    gap: 10px;
}

.social-media li{
    list-style: none;
}

.social-media li a{
    text-decoration: none;
}